
.list-container {
    list-style: none;
    width: 335px;
    padding: .75em 0 .75em 0;
    border-radius: 7px;
    box-shadow: 0 0 .2em;
}
.list-container li {
    font-weight: 600;
    font-size: .9em;
}
.list-title {
    padding: .5em;
    /* padding: 0; */
    margin: 0;
    font-size: 1.1em;
}

.no-pointer-events * {
    pointer-events: none;
}

.list-container li > span:first-child {
    padding-left: 1em;
}
.list-container li > span:nth-child(2) {
    padding-right: 1em;
}
.list-item {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 1em 0;
    align-items: center;
}
.list-item:hover {
    background-color: rgb(222, 234, 245);
}
.list-item:active {
    background-color: rgb(205, 220, 233);
}
.list-item input {
    margin: 0 1em 0 1em;
}

.list-title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    /* border: 1px red solid; */
}
.list-title-edit {
    text-align: center;
}
.list-title-edit input:first-child {
    margin: .5em;
    width: 92%;
    height: 2em;
    font-weight: 600;
    font-size: 1em;
}
.list-edit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1em 1em .5em 1em;
}
.list-edit-header  input {
    height: 2em;
    /* padding: .em; */
    border-radius: 5px;
    border: none;
    /* background-color: rgb(208, 221, 240); */
}
.list-edit-header > input:hover {
    background-color: rgb(220, 228, 241);
}
.list-edit-header > input:active {
    background-color: rgb(223, 226, 230);
}

.list-edit-header img {
    object-fit: contain;
}
.pointer-events-on {
    pointer-events: all;
    cursor: pointer;
}
.list-title > span:first-child{
    color: rgb(58, 58, 180);
}

.price-container {
    text-align: right;
    /* border: 1px solid black; */
}

.price-current {
    color: rgb(34, 64, 163);
}
.price-change {
    font-size: .9em;
}

.list-edit-trash {
    width: 20px;
    object-fit: contain;
    position: relative;
    /* border: solid black 1px; */
    display: inline-block;
}
.tooltip-delete {
    /* visibility: hidden; */
    background-color: rgb(241, 184, 184);
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -70px;
    text-align: center;
    padding: .5em;
    border-radius: 6px;
    width: 150px;
    /* border: 1px black solid; */
}
.tooltip-delete input {
    margin: .5em;   
}
.confirmed-delete-button {
    background-color: rgb(199, 55, 55);   
    color: white;
}
.confirmed-delete-button:hover {
    background-color: rgb(146, 37, 37);   
}
.cancel-delete-button {
    background-color: rgb(113, 133, 204);
    color: white;
}
.cancel-delete-button:hover {
    background-color: rgb(96, 112, 172);
}