.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    /* border: red 1px solid; */
}
.search-input-container {
    width: 100%;
    border-radius: 5px;
}
.search-input-and-reset-container {
    display: flex;
}
.searchInput{
    flex-grow: 1;
    height: 2em;
    font-size: 1.2em;
    padding-left: .5em;
    border: none;
    border-radius: 5px;

    color: white;
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	outline: none;
}
.searchInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
	transition: .3s;
}
.searchInput:focus::placeholder {
    opacity: 0;
}
.searchInput:focus {
    box-shadow: 0 0 3px rgb(56, 53, 53);
}
.searchInput-reset {
    width: 3em;
    margin: 0 0 0 .2em;
    border-radius: 5px;
    border: none;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	outline: none;
}
.search-bar-container label {
    display: block;
    margin: 0 0 .5rem 0;
}