.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* border: red 1px solid; */
}
.search-input-container {
    width: 100%;
    /* border: blue solid 2px; */
}
.search-input-and-reset-container {
    display: flex;
}
.searchInput{
    flex-grow: 1;
    height: 2em;
    font-size: 1.2em;
    padding-left: .5em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(153, 151, 151);
    outline: none;
}
.searchInput:focus {
    box-shadow: 0 0 3px rgb(56, 53, 53);
}
.searchInput-reset {
    width: 3em;
    margin: 0 0 0 .2em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px rgb(172, 169, 169);
}
.search-bar-container label {
    display: block;
    margin: 0 0 .5rem 0;
}